// Fonts
deco-font = 'Arsenal'
// deco-font = 'Pontano Sans'
// deco-font = 'Titillium Web'
@import url('//fonts.googleapis.com/css?family=' + deco-font +':400,400i,700&subset=latin-ext');
$font-family-body = 'Droid Sans', Georgia, 'Bitstream Charter', 'Century Schoolbook L', serif
$font-family-headings = deco-font, Verdana, 'Helvetica Neue', Arial, sans-serif
$font-family-ui = deco-font, Verdana, Arial, sans-serif
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-size = 14px
$line-height = 1.725

// Colors
$color-background = #fcfaff
$color-text = #464646
// vimeo: :selection with alpha=1
$color-link = rgba(39, 101, 138, 1)
$color-link-visited = rgba(94, 43, 146, 1)
$color-link-hover = $color-text
$color-link-active = rgba(212, 51, 59, 1)
$color-code-inline = #191919
$color-light = #bfbfbf
$color-accent = #88cc17
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

$body-background = #fcfaff

$table-border-color = #dfdfdf
$heading-color = #333

$font-size-la = 2.0rem
$line-height-la = 30
$content-width-la = 661 * 1px
$body-padding-la = 50px
$min-width-la = $content-width-la + $body-padding-la * 2

$font-size-md = 1.8rem
$line-height-md = 27
$content-width-md = 595 * 1px
$body-padding-md = 25px
$min-width-md = $content-width-md + $body-padding-md * 2

$font-size-sm = 1.6rem
$line-height-sm = 25
$content-width-sm = 529 * 1px
$body-padding-sm = 25px
$min-width-sm = $content-width-sm + $body-padding-sm * 2

$font-size-xs = 1.4rem
$line-height-xs = 22
$content-width-xs = 463 * 1px
$body-padding-xs = 15px
$min-width-xs = 0
