---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content-wrapper  typeset">

    <h1>{{ page.title }}</h1>
		{% include post-meta.html %}
    {{ content }}

		{% include nav-share.html %}

		{% include post-comments.html %}

  </article>

	{% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}

{% for uscript in page.uscripts %}
	<script type="text/javascript" src="{{ '/assets/uscripts/' | append: uscript | relative_url }}"></script>
{% endfor %}

<script type="text/javascript" src="{{ "/assets/js/highlight.pack.js" | relative_url }}"></script>
<script type="text/javascript">
	document.querySelectorAll('pre.highlight code')
		.forEach(hljs.highlightBlock)
</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css" />
