
deco-font = 'Arsenal'
text-font = 'Domine'
code-font = 'Fira Mono'

// deco-font = 'Pontano Sans'
// deco-font = 'Titillium Web'

@import url('https://code.cdn.mozilla.net/fonts/fira.css');

@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: local('Domine'), local('Domine-Regular'), url(/font/4wfhKe93QxmsFlDQSCQ5wg.ttf) format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: local('Domine Bold'), local('Domine-Bold'), url(/font/BmiPqZorq0QiT-p6kf1paaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: local('Arsenal Regular'), local('Arsenal-Regular'), url(/font/GvA15TjFJjIZ9c33KSPTzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 700;
  src: local('Arsenal Bold'), local('Arsenal-Bold'), url(/font/5vJ32Pe8BCA1NkX59B6Ksy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 400;
  src: local('Arsenal Italic'), local('Arsenal-Italic'), url(/font/SyXrdER51c-tA-DaBD7hCqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 700;
  src: local('Arsenal Bold Italic'), local('Arsenal-BoldItalic'), url(/font/AnUIg26c0nuMZMpNWtsDF4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
