@require "_variables"
@import "_highlight"
@import '../../../../node_modules/jeet'

/** hide the footnotes brackets **/
sup.footnote
	visibility hidden
	a.footnote
		visibility visible


pre
	max-width 100%
	overflow auto


/******************************************************************************/



/* font choice */

fonts = {
	body: {
		family: $font-family-body,
		weight: 400,
		style: normal
	},
	h1: {
		family: $font-family-headings,
		weight: 700,
		style: normal
	},
	h2: {
		family: $font-family-headings,
		weight: 700,
		style: normal
	},
	h3: {
		family: $font-family-headings,
		weight: 700,
		style: normal
	},
	h4: {
		family: $font-family-headings,
		weight: 700,
		style: normal
	},
	h5: {
		family: $font-family-headings,
		weight: 700,
		style: normal
	},
	h6: {
		family: $font-family-headings,
		weight: 400,
		style: normal
	},
	th: {
		family: $font-family-body,
		weight: 300,
		style: normal,
	},
	blockquote: {
		family: $font-family-body,
		weight: 300,
		style: italic,
	},
	code: {
		family: $font-family-mono,
		weight: 400,
		style: normal,
	},
	metadata: {
		family: $font-family-ui,
		weight: 400,
		style: normal,
	},
	navbar: {
		family: $font-family-ui,
		weight: 400,
		style: normal,
	},
	headref: {
		family: $font-family-ui,
		weight: 400,
		style: normal,
	}
	ui: {
		family: $font-family-ui,
		weight: 400,
		style: normal,
	}
}

webfont(scope)
	if (scope in fonts)
		fscope = fonts[scope]
	else
		fscope = fonts[body]
		scope: scope;
		// &::before
		//  content: '' + scope + ' ' + '' ;
		//  color: red
	font-family: fscope.family;
	font-weight: fscope.weight;
	font-style: fscope.style;

/* Layout */

* {
	box-sizing: border-box;
}

html, body {
	background: $body-background;
}



/****************************************************************/


#container
	margin auto

#container::before,
#container::after
	content " "
	display table

#container > header > nav
	display flex
	margin-left -1em // cancel leftmost link padding
	a
		color $color-accent
		// font-weight 700
		line-height 50px
		height 50px
		vertical-align middle
		padding 0 1em
	a:hover
		background-color $color-accent
		color $color-background

#container > footer
	text-align center
	font-size 0.9em

*, pre, ul, ol, li {
	padding: 0;
}

li > * {
	margin-top:0 !important;
	margin-bottom:0 !important;
}

.archive-year-wrap
	display none

.archives-wrap
	.archives
		h3, .h3, time
			margin-top 0 !important
			font-weight 400
		.archive-article-date
			column(1/4)
			margin 0 !important
			color $color-light
		.archive-article-entry
			column(3/4)

#main
	min-height 100vh

/** Type & colors ***********************************************************/

body {
	webfont body
	color: #464646;
}
#header, #footer, .article-footer
	webfont ui
h1, .h1 {
	webfont h1
	color: heading-color;
}
h2, h3, .h3 {
	webfont h2
	color: heading-color;
}
h4 {
	webfont h4
	color: heading-color;
}
th {
	webfont th
	color: heading-color;
	text-align left
}
td {
	color: heading-color;
	text-align left
}
th {
	background table-border-color
}
tr:nth-child(2n) td {
	background #efefef
}
em {
	/**
	 * This is a way to force merriweather italic to respect my authority
	 * (respect the line height)
	*/
	line-height: 1px;
}
blockquote p {
	webfont blockquote
	font-style italic
}
blockquote::before {
	font-family: 'georgia', serif;
}

blockquote footer cite
	display block
	margin-left 1em
	&::before
		content '— '

pre, code {
	webfont code
}
p code {
	color: $color-code-inline;
	line-height: 100%;
	padding:0 3px;
}

underline($underline-color)
	text-decoration none
	background-size 1px 1em
	display inline
	text-shadow -1px -1px $color-background,
		-1px 1px $color-background,
		1px  -1px $color-background,
		1px  1px  $color-background
	box-shadow:
		inset 0 -0.1em $color-background,
		inset 0 -0.15em $underline-color;

a
	text-decoration none

a:link, a:visited
	color $color-link
a:hover
	color $color-link-hover
a:active
	color $color-link-active

.article-content
	a:link
		underline($color-link)
	a:visited
		color $color-link-visited
		underline($color-link-visited)
	a:hover
		underline($color-link-hover)
	a:active
		underline($color-link-active)




.article-meta
	webfont metadata
	color $color-light
	ul, li
		display inline
		margin 0
		padding 0
	li::after
		content ', '
	li:last-child::after
		content '.'
	li.article-tag-list-item
		a:link, a:visited
			color $color-light
			underline($color-light)
	a:link, a:visited
		color $color-light
	a:hover
		color $color-text


pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"] ::selection {
	background-color:#ddd;
	color:inherit;
}
::selection {
	background-color:#00a4db;
	color:white;
}

// pre.highlight
// 	overflow hidden

/* Typography sizes */

html {
	font: 62.5%/1.6 serif !important;
}

/* defaults */
h1, .h1 {
	text-align: left;
	-webkit-font-smoothing: subpixel-antialiased;
}
pre {
	background-color: transparent;
	border:none;
	border-left:5px solid #eee;
	border-radius: 0;
}
ul, ol {
	list-style-position: outside;
}

li p {
	margin:0 !important;
}

ol.toc {

}
ol.toc li span::before {
	content '→ '
}

.toc-wrapper
	border-left 1px solid #818181
	padding-left 1em
	margin-left 1em
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8959a8+1,ffffff+8 */



h1, .h1, h2, h3, .h3, h4
	&:hover
		.headref
			webfont headref

			text-decoration none
			opacity 1

	.headref
		font-size .9em
		line-height 1px
		font-weight normal
		color heading-color
		transition opacity .2s ease
		opacity 0

.toc-date
	color #aaa

/****************************************************************/


/**
 * For the typography we define a big mixin that handles only font-sizes
 * and line-heights, and we pass the base row height
 */


row-m(rows, height)
	rows * height * 0.1rem

row-1(n)
	row-m(1, n)
row-2(n)
	row-m(2, n)
row-3(n)
	row-m(3, n)
row-4(n)
	row-m(4, n)
row-5(n)
	row-m(5, n)


// Small Devices, Tablets
typography(row)
	//* content width 720px
	/**
		-- TYPOGRAPHY --------------------
	 */
	#main
		margin-top row-2(row)
	body, code, pre, blockquote, h1.paragraph
		line-height row-1(row)
	h4
		height row-1(row)
		line-height 1px
	body
		padding-bottom row-5(row)

	.navbar
		text-align right
		height 6rem
		padding 1rem 70px 0 0
		a
			font-size 1.2rem
			line-height 3rem
			padding:0 2rem

	.article-meta
		margin row-1(row) 0

	ul, ol, pre, p, h1.paragraph, blockquote
		margin 0 0 row-1(row) 0

	blockquote p:last-of-type
		margin 0

	h1, .h1
		line-height row-3(row)
		margin row-2(row) 0 row-1(row)

	h2
		line-height row-2(row) /* 2 rows */
		margin row-m(1.5, row) 0 row-m(.5, row) /* 1.5 row, .5 row*/

	h3, .h3
		line-height row-m(1.5, row) /* 1.5 rows */
		margin row-1(row) 0 row-m(.5, row) /* 1row, .5row */

	pre
		padding 0 0 0 row-1(row - 0.5) /* 28px - 5px border */

	.toc-wrapper
		& li
			margin-bottom row-m(1, row)

	li
		margin-left row-1(row)

	table
		margin 0 auto row-1(row)
		border-top 1px solid table-border-color
		border-bottom 1px solid table-border-color
		table-layout fixed
		width 100%

		td, th
			height row-m(1.5, row)
			border none
			padding 0 6px

		tr:last-child td
			height row-m(1.5, row) - 0.1
			padding 1px 6px 0

	blockquote
		position relative
		padding 0 row-m(1.5, row)
		border none

	blockquote::before
		content "\201C"
		position absolute
		left -1rem
		top -5px
		line-height .9
		color rgba(0,0,0,.3)

	sup
		line-height 0
		font-size 0.7em

	#footnotes
		border-top 1px solid $color-light
		padding-top row-1(row*0.5 - 1)
		margin-top row-1(row*1.5)
		margin-bottom row-1(row)
		font-size 0.9em
		hr
			display none
	.article-footer
		margin-top row-2(row)



// Custom, iPhone Retina
// @media only screen and (min-width 320px)
@media only screen and (min-width $min-width-xs)
	body, blockquote, h4, h1.paragraph
		font-size $font-size-xs
	code, pre
		font-size ($font-size-xs - 0.1)
	h1, .h1
		font-size 4.5rem
	h2
		font-size 3rem
	h3, .h3
		font-size 2.2rem
	blockquote::before
		font-size 5.6rem
		line-height .9
		color rgba(0,0,0,.3)
	typography($line-height-xs)

// Custom, iPhone Retina
// @media only screen and (min-width 320px)
@media only screen and (min-width $min-width-sm)
	#container
		width $content-width-sm
	body, blockquote, h4, h1.paragraph
		font-size $font-size-sm
	code, pre
		font-size ($font-size-sm - 0.1)
	h1, .h1
		font-size 4.5rem
	h2
		font-size 3rem
	h3, .h3
		font-size 2.2rem
	blockquote::before
		font-size 5.6rem
		line-height .9
		color rgba(0,0,0,.3)
	typography($line-height-sm)

// Extra Small Devices, Phones
@media only screen and (min-width $min-width-md)
	#container
		width $content-width-md
	body, blockquote, h4, h1.paragraph
		font-size $font-size-md
	code, pre
		font-size ($font-size-md - 0.1)
	h1, .h1
		font-size 5.4rem
	h2
		font-size 3.5rem
	h3, .h3
		font-size 2.6rem
	blockquote::before
		font-size 8rem
		line-height .9
		color rgba(0,0,0,.3)
	typography($line-height-md)

// Small Devices, Tablets
@media only screen and (min-width $min-width-la)
	#container
		width $content-width-la
	body, blockquote, h4, h1.paragraph
		font-size $font-size-la
	code, pre
		font-size ($font-size-la - 0.2)
	h1, .h1
		font-size $font-size-la * 3
	h2
		font-size 4.1rem
	h3, .h3
		font-size 3rem
	blockquote::before
		font-size 9rem
		line-height .9
		color rgba(0,0,0,.3)

	typography($line-height-la)



/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/*.container{width:1170px}*/

}


.width-debug
	background $body-background
	display none
	padding 5px
	position fixed
	right 10px
	text-align right
	top 10px
	width 50px

//*

@media only screen and (min-width $min-width-xs)
	body.development_OFF #main:active
		background url('http://basehold.it/image.php?height=' + $line-height-xs) left top repeat transparent
	.width-debug.width-debug-xs
		display block

@media only screen and (min-width $min-width-sm)
	body.development_OFF #main:active
		background url('http://basehold.it/image.php?height=' + $line-height-sm) left top repeat transparent
	.width-debug.width-debug-sm
		display block

@media only screen and (min-width $min-width-md)
	body.development_OFF #main:active
		background url('http://basehold.it/image.php?height=' + $line-height-md) left top repeat transparent
	.width-debug.width-debug-md
		display block

@media only screen and (min-width $min-width-la)
	body.development_OFF #main:active
		background url('http://basehold.it/image.php?height=' + $line-height-la) left top repeat transparent
	.width-debug.width-debug-la
		display block


//*/


