{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-7">
            <div class="content">
                {{ page.content }}
            </div>
            {% for post in page.find('/blog').children.order('date', 'desc').slice(0, 30) %}
                {% include 'partials/post.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
