
/* Layout */

*, pre, ul, ol, li {
	padding: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*.container{width:7504x}*/
	.container {
	 	max-width:750px; /* content : 720px */
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*.container{width:1170px}*/

}

/* Type & colors */


body {
	font-family: 'Merriweather', sans-serif;
	background: #fcfcfc;
}
h1 {
	font-family: 'Merriweather', 'Georgia', serif;
	color: #444;
	font-weight: 900;
}
h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
	color: #444;
	font-weight: 700;
}
blockquote p {
	font-family: 'Merriweather', 'Georgia', serif;
	font-style: it4lic;
}
pre code[class*="language-"], pre, code {
	font-family: 'Roboto Mono', monospace;
}
.article-meta {
	font-family: 'Merriweather Sans', sans-serif;
	color:#bbb;
	font-weight: 300;
	text-transform: uppercase;
}

/* Typography sizes */

html {
	font: 62.5%/1.6 serif !important;
}

/* defaults */
h1 {
	text-align: left;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1::after {
	display: none;
	content: '';
}
pre {
	background-color: transparent;
	border:none;
	border-left:5px solid #eee;
	border-radius: 0;
}
blockquote {
	font-style: italic;
}
ul, ol {
	list-style-position: inside;
}

li p {
	margin:0 !important;
}

/* Custom, iPhone Retina */
/* @media only screen and (min-width : 320px) { */
@media only screen and (min-width : 20px) {
	/* expected container min-width: 290 */
	/* expected container average width: 350 */
	body, pre code[class*="language-"], pre, blockquote {
		font-size: 1.3rem;
		line-height: 2rem;
	}
	body {
		padding-bottom: 10rem;
	}
	.article-meta {
		margin:2rem 0;
	}
	body.dev {
		/*background-image: url('http://basehold.it/i/20');*/
	}
	body.dev:active {
		background-image: none;
	}
	ul, ol, pre, p, blockquote {
		margin: 0 0 2rem 0;
	}
	h1 {
		font-size: 4.5rem;
		line-height: 6rem; /* 3 rows */
		margin:4rem 0 4rem;
	}
	h1::after {
		width:6.0rem;
		border-bottom: 1px solid #e3e3e3;
		height:2rem;
		margin:0 auto;
	}
	h2 {
		font-size: 3rem;
		line-height: 4rem; /* 2 rows */
		margin:3rem 0 1rem; /* 1.5 row, .5 row*/
	}
	h3 {
		font-size: 2.2rem;
		line-height: 3rem; /* 1.5 rows */
		margin:2rem 0 1rem; /* 1row, .5row */
	}
	pre {
		padding:0 0 0 1.5rem ; /* 20px - 5px border */
	}
	li {
		padding-left:1rem;
	}
	blockquote{
		position:relative;
		padding:0  0 0 2rem;
		border:none;5.6
	}
	blockquote::before {
		content: "\201C";
		position: absolute;
		left: -2rem;
		top: -5px;
		font-family: 'Roboto Mono', monospace;
		font-size: 5.6rem;
		line-height: .9;
		color: rgba(0,0,0,.3);
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/* average content width 580px */
	body, pre code[class*="language-"], pre, blockquote {
		font-size: 1.5rem;
		line-height: 2.4rem;
	}
	body {
		padding-bottom: 12rem;
	}
	.article-meta {
		margin:2.4rem 0;
	}
	body.dev {
		/*background-image: url('http://basehold.it/i/24');*/
	}
	body.dev:active {
		background-image: none;
	}
	ul, ol, pre, p, blockquote {
		margin: 0 0 2.4rem 0;
	}
	h1 {
		font-size: 5.4rem;
		line-height: 7.2rem; /* 3 rows */
		margin:4.8rem 0 4.7rem;
	}
	h1::after {
		width:6.0rem;
		border-bottom: 2px solid #e3e3e3;
		height:4.8rem;
		margin:0.1rem auto 0;
	}
	h2 {
		font-size: 3.5rem;
		line-height: 4.8rem; /* 2 rows */
		margin:3.6rem 0 1.2rem; /* 1.5 row, .5 row*/
	}
	h3 {
		font-size: 2.6rem;
		line-height: 3.6rem; /* 1.5 rows */
		margin:2.4rem 0 1.2rem; /* 1row, .5row */
	}
	pre {
		padding:0 0 0 1.9rem ; /* 24px - 5px border */
	}
	li {
		padding-left:1.2rem;
	}
	blockquote{
		position:relative;
		padding:0  0 0 2rem;
		border:none;
	}
	blockquote::before {
		content: "\201C";
		position: absolute;
		left: -2rem;
		top: -5px;
		font-family: 'Roboto Mono', monospace;
		font-size: 5.6rem;
		line-height: .9;
		color: rgba(0,0,0,.3);
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/* content width 720px */
	body, pre code[class*="language-"], pre, blockquote {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
	body {
		padding-bottom: 14rem;
	}
	.article-meta {
		margin:2.8rem 0;
	}
	body.dev {
		/*background-image: url('http://basehold.it/i/28');*/
	}
	body.dev:active {
		background-image: none;
	}
	ul, ol, pre, p, blockquote {
		margin: 0 0 2.8rem 0;
	}
	h1 {
		font-size: 6.2rem;
		line-height: 8.4rem; /* 28 * 3 */
		margin:5.6rem 0 5.4rem;
	}
	h1:after {
		width:12.0rem;
		border-bottom: 2px solid #e3e3e3;
		height:5.6rem;
		margin:0.2rem auto 0;
	}
	h2 {
		font-size: 4.1rem;
		line-height: 5.6rem; /* 2 rows */
		margin:4.2rem 0 1.4rem; /* 1.5 row, .5 row*/
	}
	h3 {
		font-size: 3rem;
		line-height: 4.2rem; /* 1.5 rows */
		margin:2.8rem 0 1.4rem; /* 1row, .5row */
	}
	pre {
		padding:0 0 0 2.3rem ; /* 28px - 5px border */
	}
	li {
		padding-left:1.4rem;
	}
	blockquote{
		position:relative;
		padding:0 4.2rem;
		border:none;
	}
	blockquote::before {
		content: "\201C";
		position: absolute;
		left: -2.2rem;
		top: -5px;
		font-family: 'Roboto Mono', monospace;
		font-size: 9rem;
		line-height: .9;
		color: rgba(0,0,0,.3);
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/*.container{width:1170px}*/

}




