
/* Layout */


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*.container{width:750px}*/
	.container {
	 	max-width:750px;
	 	margin: auto;
	}	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*.container{width:1170px}*/

}

/* Type & colors */


body {
	font-family: 'Merriweather', sans-serif;
	background: #fcfcfc;
}
h1 {
	font-family: 'Merriweather', 'Georgia', serif;
	color: #444;
	font-weight: 900;
}
h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
	color: #444;
	font-weight: 700;
}
blockquote p {
	font-family: 'Merriweather', 'Georgia', serif;
	font-style: italic;		
}
pre code[class*="language-"], pre, code {
	font-family: 'Roboto Mono', monospace;
}

/* Typography sizes */

html {
	font: 62.5%/1.6 serif !important;
}

/* defaults */
h1{
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
}

pre {
	background-color: transparent;
	border:none;
	border-left:5px solid #eee;
	border-radius: 0;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*.container{width:750px}*/
	body, pre code[class*="language-"], pre, blockquote {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
	body.dev {
		background-image: url('http://basehold.it/i/28');
	    background-position:0 14px;
	}
	body.dev:active {
		background-image: none;
	}
	ul, pre, p, blockquote {
		margin: 0 0 2.8rem 0;
	}
	h1 {
		font-size: 6.2rem; 
		line-height: 8.4rem; /* 28 * 3 */
		margin:4.2rem 0 2.6rem;
	}
	h1:after {
		display: block;
		content: '';
		width:12.0rem;
		border-bottom: 2px solid #e3e3e3;
		height:2.8rem;
		margin:0.2rem auto 0;
	}
	pre {
		padding:0 0 0 2.3rem ; /* 28px - 5px border */
	}
	blockquote{
		position:relative;
		padding:0 4.2rem;
		border:none;
	}
	blockquote::before {
		content: "\201C";
		position: absolute;
		left: -5px;
		top: -4px;
		font-family: 'Roboto Mono', monospace;
		font-size: 5em;
		line-height: .9;
		color: rgba(0,0,0,.3);	
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*.container{width:1170px}*/

}



