// Background colours
$backgroundColour: #fefefe;
$inlineCodeBackgroundColour: #f4f4f4;
$blockCodeBackgroundColour: $backgroundColour;
$featureBackgroundColour: #eeeeee;
$accentColour: #388892;

// Text colours
$headingColour: #333333;
$bodyColour: #555555;
$linkColour: $accentColour;
$hoverColour: #08737d;
$focusColour: #fa407a;
$captionColour: #aaaaaa;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: '"Domine", Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);
$bodytype-fallback: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Arsenal", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: local('Domine'), local('Domine-Regular'), url("font/4wfhKe93QxmsFlDQSCQ5wg.ttf") format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: local('Domine Bold'), local('Domine-Bold'), url("font/BmiPqZorq0QiT-p6kf1paaCWcynf_cDxXwCLxiixG1c.ttf") format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: local('Arsenal Regular'), local('Arsenal-Regular'), url("font/GvA15TjFJjIZ9c33KSPTzQ.ttf") format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 700;
  src: local('Arsenal Bold'), local('Arsenal-Bold'), url("font/5vJ32Pe8BCA1NkX59B6Ksy3USBnSvpkopQaUR-2r7iU.ttf") format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 400;
  src: local('Arsenal Italic'), local('Arsenal-Italic'), url("font/SyXrdER51c-tA-DaBD7hCqCWcynf_cDxXwCLxiixG1c.ttf") format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 700;
  src: local('Arsenal Bold Italic'), local('Arsenal-BoldItalic'), url("font/AnUIg26c0nuMZMpNWtsDF4nF5uFdDttMLvmWuJdhhgs.ttf") format('truetype');
}

$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  // break-3: 1024,  // 1024px  ~ Desktop up
  // break-4: 1600   // 1600px  ~ Large desktop up
);
