
/* vars */

table-border-color = #dfdfdf
heading-color = #333

/* font choice */

// @import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i&subset=latin-ext');
@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import url(fonts/fonts.css);

fonts = {
	body: {
		family: 'Merriweather'\, sans-serif,
		weight: 300,
		style: normal
	},
	h1: {
		family: 'Fira Sans'\, serif,
		weight: 300,
		style: normal
	},
	h2: {
		family: 'Fira Sans'\, serif,
		weight: 300,
		style: normal
	},
	h4: {
		family: 'Fira Sans'\, serif,
		weight: 300,
		style: normal
	},
	th: {
		family: 'Merriweather'\, sans-serif,
		weight: 300,
		style: normal,
	},
	blockquote: {
		family: 'Merriweather'\, sans-serif,
		weight: 300,
		style: italic,
	},
	code: {
		family: 'Fira Mono'\, monospace,
		weight: 400,
		style: normal,
	},
	metadata: {
		family: 'Fira Sans'\, monospace,
		weight: 600,
		style: normal,
	},
	navbar: {
		family: 'Fira Sans'\, monospace,
		weight: 400,
		style: normal,
	},
	headref: {
		family: 'Fira Sans'\, monospace,
		weight: 400,
		style: normal,
	}

}

webfont(scope)
	if (scope in fonts)
		fscope = fonts[scope]
	else
		fscope = fonts[body]
		scope: scope;
		// &::before
		// 	content: '' + scope + ' ' + '' ;
		// 	color: red
	font-family: fscope.family;
	font-weight: fscope.weight;
	font-style: fscope.style;

/* Layout */

* {
	box-sizing: border-box;
}

html, body, .bt-menu {
	background: #fcfcfc;
}

.container {
	margin:0 auto;
}
.container::before,
 .container::after {
	content:" ";
	display:table;
}

*, pre, ul, ol, li {
	padding: 0;
}

li > * {
	margin-top:0 !important;
	margin-bottom:0 !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 20px) {
	.navbar, .container {padding:0 10px;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.navbar, .container {padding:0 2.4rem;}
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*.container{width:7504x}*/
	.container {
		max-width:750px; /* content : 750 px */
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*.container{width:1170px}*/

}

/* menu button */


label.bt-menu {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 44px;
	height: 44px;
	display: block;
	cursor:pointer;
	box-sizing: content-box;
}
label.bt-menu::after {
	clear:both;
}
.bt-menu span {
	position: absolute;
	background-color: #666;
	clear: both;
	display: block;
	height: 3px;
	margin: 0 auto 3px;
	left: 0px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
	/* reverse transform */
	transition: transform .2s ease .1s, opacity .001s linear .3s, bottom .2s ease .3s;
}

#ck-show-menu { display: none; }

#ck-show-menu:checked ~ .bt-menu span {
	transition: bottom .2s ease .1s, opacity .001s linear .3s, transform .2s ease .3s;
}

.bt-menu .bt-top {
	bottom: 7px;
}
.bt-menu .bt-middle {
	bottom: 13px;
}
.bt-menu .bt-bottom {
	bottom: 19px;
}

/** hamburger crossed icon **/

#ck-show-menu:checked ~ .bt-menu .bt-top {
	transform: rotate(45deg);
	bottom: 13px; /* 7px + 6 */
}
#ck-show-menu:checked ~ .bt-menu .bt-middle {
	opacity: 0;
}
#ck-show-menu:checked ~ .bt-menu .bt-bottom {
	transform: rotate(-45deg);
	bottom: 13px; /* 19 - 6 */
}


.navbar-wrapper {
	position:absolute;
	top:0;
	width: 100%;
}
.navbar {
	opacity:0;
	padding-right:70px;
	transition: opacity .3s ease;
}
.navbar-wrapper:hover .navbar {
	/*box-shadow: 0px 1px 5px #aaa;*/
}
.navbar-wrapper::before {
	content: ' ';
	display: table-cell;
}
.navbar-wrapper::after {
	content: ' ';
	display: table-cell;
	clear: both;
}

#ck-show-menu:checked ~ .navbar,
.navbar-wrapper:hover .navbar {
	opacity:1;
	background: #fcfcfc;
	display: block;
}

.navbar a {
	display: inline-block;
	margin:3px;
}

/* Type & colors */


body {
	webfont body
	color: #333;
}
h1, .h1 {
	webfont h1
	color: heading-color;
}
h2, h3 {
	webfont h2
	color: heading-color;
}
h4 {
	webfont h4
	color: heading-color;
}
th {
	webfont th
	color: heading-color;
	text-align left
}
td {
	color: heading-color;
	text-align left
}
th {
	background table-border-color
}
tr:nth-child(2n) td {
	background #efefef
}
em {
	/**
	 * This is a way to force merriweather italic to respect my authority
	 * (respect the line height)
	*/
	line-height: 1px;
}
blockquote p {
	webfont blockquote
	font-style italic
}
blockquote::before {
	font-family: 'georgia', serif;
}

blockquote footer cite
	display block
	margin-left 1em
	&::before
		content '— '

pre code[class*="language-"], pre, code {
	webfont code
}
p code {
	color:#19618C;
	line-height: 100%;
	padding:0 3px;
}
a:link, a:visited {
	color: #00a4db;
}
a:visited {
	color: #00a4db;
}

a:hover {
	text-decoration: underline;
}

.article-meta {
	webfont metadata
	color:#bbb;
	text-transform: uppercase;
}

.navbar a {
	webfont navbar
	text-transform: uppercase;
	border:1px solid #00a4db;
	border-radius: 5px;
	transition: background-color .3s ease, color .3s ease;
	-webkit-transition: background-color .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, color .3s ease;
	color: #00a4db;
}

.navbar a:link, .navbar a:visited {
	background-color: #fcfcfc;
	color: #00a4db;
}

.navbar a:hover, .navbar a:focus {
	background-color: #00a4db;
	color: white;
	text-decoration: none;
}
.navbar a:active{
	background-color: #99DEF5;
	border:1px solid #99DEF5;
	color: white;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]	::selection,
code[class*="language-"] ::selection {
	background-color:#ddd;
	color:inherit;
}
::selection {
	background-color:#00a4db;
	color:white;
}

/* Typography sizes */

html {
	font: 62.5%/1.6 serif !important;
}

/* defaults */
h1, .h1 {
	text-align: left;
	-webkit-font-smoothing: subpixel-antialiased;
}
pre {
	background-color: transparent;
	border:none;
	border-left:5px solid #eee;
	border-radius: 0;
}
ul, ol {
	list-style-position: outside;
}

li p {
	margin:0 !important;
}

ol.toc {

}
ol.toc li span::before {
	content '→ '
}

.toc-wrapper
	border-left 1px solid #818181
	padding-left 1em
	margin-left 1em
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8959a8+1,ffffff+8 */



h1, .h1, h2, h3, h4
	&:hover
		.headref
			webfont headref

			text-decoration none
			opacity 1

	.headref
		font-size .9em
		line-height 1px
		font-weight normal
		color heading-color
		transition opacity .2s ease
		opacity 0

.toc-date
	color #aaa
/****************************************************************





****************************************************************/

/**
 * For the typography we define a big mixin that handles only font-sizes
 * and line-heights, and we pass the base row height
 */


row-m(rows, height)
	rows * height * 0.1rem

row-1(n)
	row-m(1, n)
row-2(n)
	row-m(2, n)
row-3(n)
	row-m(3, n)
row-4(n)
	row-m(4, n)
row-5(n)
	row-m(5, n)


// Small Devices, Tablets
typography(row)
	//* content width 720px
	/**
		-- TYPOGRAPHY --------------------
	 */
	body, pre code[class*="language-"], pre, blockquote, h1.paragraph
		line-height row-1(row)
	h4
		height row-1(row)
		line-height 1px
	body
		padding-bottom row-5(row)

	.navbar
		text-align right
		height 6rem
		padding 1rem 70px 0 0
		a
			font-size 1.2rem
			line-height 3rem
			padding:0 2rem

	.article-meta
		margin row-1(row) 0

	ul, ol, pre, p, h1.paragraph, blockquote
		margin 0 0 row-1(row) 0

	blockquote p:last-of-type
		margin 0

	h1, .h1
		line-height row-3(row)
		margin row-2(row) 0 row-2(row)

	h2
		line-height row-2(row) /* 2 rows */
		margin row-m(1.5, row) 0 row-m(.5, row) /* 1.5 row, .5 row*/

	h3
		line-height row-m(1.5, row) /* 1.5 rows */
		margin row-1(row) 0 row-m(.5, row) /* 1row, .5row */

	pre
		padding 0 0 0 row-1(row - 0.5) /* 28px - 5px border */

	.toc-wrapper
		& li
			margin-bottom row-m(1, row)

	li
		margin-left row-1(row)

	table
		margin 0 auto row-1(row)
		border-top 1px solid table-border-color
		border-bottom 1px solid table-border-color
		table-layout fixed
		width 100%

		td, th
			height row-m(1.5, row)
			border none
			padding 0 6px

		tr:last-child td
			height row-m(1.5, row) - 0.1
			padding 1px 6px 0



		// tr

		//	&:last-child
		//		// &:nth-child(odd)
		//		td:last-child
		//			margin-bottom row-1(row)
		//		// &:nth-child(even)
		//		td:last-child
		//			margin-bottom row-m(1.5, row)

	blockquote
		position relative
		padding 0 row-m(1.5, row)
		border none

	blockquote::before
		content "\201C"
		position absolute
		left -1rem
		top -5px
		line-height .9
		color rgba(0,0,0,.3)

	sup
		line-height 0
		font-size 0.7em






// Custom, iPhone Retina
// @media only screen and (min-width 320px)
@media only screen and (min-width 20px)
	// expected container min-width 290
	// expected container average width 350
	body, pre code[class*="language-"], pre, blockquote, h4, h1.paragraph
		font-size 1.3rem
	body
		padding-top 6rem
	h1, .h1
		font-size 4.5rem
	h2
		font-size 3rem
	h3
		font-size 2.2rem
	blockquote::before
		font-size 5.6rem
		line-height .9
		color rgba(0,0,0,.3)
	typography(20)

// Extra Small Devices, Phones
@media only screen and (min-width 480px)
	// average content width 580px
	body, pre code[class*="language-"], pre, blockquote, h4, h1.paragraph
		font-size 1.5rem
	h1, .h1
		font-size 5.4rem
	h2
		font-size 3.5rem
	h3
		font-size 2.6rem
	blockquote::before
		font-size 8rem
		line-height .9
		color rgba(0,0,0,.3)
	typography(24)

// Small Devices, Tablets
@media only screen and (min-width 768px)
	// content width 720px
	body, pre, blockquote, h4, h1.paragraph
		font-size 1.8rem
	pre code[class*="language-"]
		font-size 1.6rem
	h1, .h1
		font-size 6.2rem
	h2
		font-size 4.1rem
	h3
		font-size 3rem
	blockquote::before
		font-size 9rem
		line-height .9
		color rgba(0,0,0,.3)
	typography(28)



/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/*.container{width:970px}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/*.container{width:1170px}*/

}


/*

@media only screen and (min-width 20px)
	body.dev .container
		background url('http://basehold.it/i/20') left top repeat transparent
		&:active
			background-image none

@media only screen and (min-width 480px)
	body.dev .container
		background url('http://basehold.it/i/24') left top repeat transparent
		&:active
			background-image none

@media only screen and (min-width 768px)
	body.dev .container
		background url('http://basehold.it/i/28') left top repeat transparent
		&:active
			background-image none


//*/
